{% extends "./_helpers/main_layout.html" %}
{% block content %}
  <div class="flex flex-col max-w-4xl gap-8 p-8 mx-auto rounded-lg shadow-lg bg-neutral">
    <form id="course-form">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label for="course_name" class="text-lg font-semibold text-primary-800">Course Name</label>
          <input type="text"
                 id="course_name"
                 name="course_name"
                 class="input"
                 required>
        </div>
        <button type="submit" class="btn">Save Course</button>
      </div>
    </form>
  </div>
  <script>
    const getCourse = async () => {
      try {
        const response = await fetch('http://localhost:5000/course/' + {{course_id}});
        const json = await response.json();
        const data = json.message;
        const courseName = document.querySelector('#course_name');
        courseName.value = data.course_name;
      } catch (error) {
        console.error(error);
      }
    };

    getCourse();
  
    const updateCourse = async (event) => {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const courseName = formData.get('course_name');

      try {
        const response = await fetch('http://localhost:5000/course/' + {{course_id}}, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ course: courseName }),
        });

        const json = await response.json();


        if (response.ok) {
          form.reset();
          window.location.href = "{{ url_for('courses') }}";
        }
        
      } catch (error) {
        console.error(error);
      }
    };

    const form = document.querySelector('#course-form');

    form.addEventListener('submit', updateCourse);

  </script>
{% endblock content %}
